body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.colored{
  color: #0b0;
}

.bold{
  font-weight: 700;
}

.hidden{
  visibility: hidden
}

.gone{
  display: none;
}


@import './components.css';
@import './containers.css';
