.sidebar{
  display: grid;
  grid-template-rows: 70px 70px 1fr;
  min-width: 360px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 360px;
}

.sidebar__rooms{
  align-self: stretch;
  overflow: auto;
}

.rooms{
  margin-bottom: 60px;
}

.rooms__title{
  padding: 60px 20px 0px 20px;
  text-align: center;
  font-size: 24px;
  color: #444;
}

.available{
  margin-top: 40px;
  background-color: #f8f8f8;
}

.available__title{
  padding: 60px 20px 0px 20px;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 24px;
  color: #444;
}

.content{
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  height: 100%;
  border-left: 2px solid #ddd;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 360px;
}

.room{
  height: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 65px 1fr;
  cursor: pointer;
}

.room:hover{
  background-color: #f8f8f8;
}

.room__selected{
  background-color: #eee;
}

.room__selected:hover{
  background-color: #eee;
}

.room__info{
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 25px 25px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.room__info__name{
  grid-row: 1;
  grid-column: 1;
  grid-row: 1;
  font-size: 16px;
  font-weight: 400;
}

.room__info__timestamp{
  grid-row: 1;
  grid-column: 2;
  position: relative;
  text-align: right;
  top: 0;
  right: 10px;
  font-size: 12px;
  color: #aaa;
}

.room__info__peek{
  grid-row: 2;
  grid-column: 1 / 2;
  font-size: 14px;
  color: #999;
}

.messages{
  background-color: #e0dad1;
  display: grid;
  grid-template-columns: 1fr; 
  padding: 8px 40px;
  overflow: auto;
}

.messages__wrapper{
  width: auto;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr; 
}

.chat-text{
  background-color: #f0f0f0;
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 1fr 60px;
  justify-items: center;
  align-items: center;
}

.chat-text__input{
  background-color: white;
  border: none;
  border-radius: 20px;
  height: 20px;
  padding: 10px 20px;
  justify-self: stretch;
}

.chat-text__send{
  height: 40px;
  width: 40px;
  background-color: #ddd;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.chat-text__icon{
  margin: 8px auto auto 4px;
}




.profile{
  padding: 30px 30px 15px 30px;
  height: auto;
  display: grid;
  grid-template-rows: 70px 50px 50px 80px;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  align-content: center;
}

.profile__title{
  padding: 10px 0 30px 0;
  grid-column: 1 / span 2;
  justify-self: center;
  font-size: 20px;
  color: #444;
}

.profile__userid,
.profile__userId__input,
.profile__name,
.profile__name__input{
  padding: 0 20px;
}


.profile__userid,
.profile__name{
  justify-self: end;
}


.profile__userId__input,
.profile__name__input{
  border: 1px solid #aaa;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
}

.profile__join-room{
  border: none;
  border-radius: 4px;
  grid-column: 1 / span 2;
  background-color: #496;
  color: white;
  height: 40px;
  cursor: pointer;
}